h1 {
  text-align: center;
  color: green;
}

#languages {
  border-width: medium;
  background-color: blue;
  float: right;
  padding-left: 50px;
}

.container {
  padding: 50px;
  border: #rgb(0, 100, 100);
  background-color: lightblue;
  margin: 15px;
}

.important {
  color: red;
}

.float {
  width: 200px;
  border-width: 3px;
  border-color: yellow;
  float; right;
}

img.mypic {
  float: left;
}

.sidebar {
  width: 50%;
  float: left;
  color: pink;
  text-align: left;
}

languages.sidebar {

}

h6 {
  color: indigo;
}

#my-work {
  text-align: left;
  padding: 50px;
}

.blackboard {
  background: #000;
  color: #FFF;
  padding: 50px;
  margin: 25px
}
