h1 {
  text-align: center;
  color: green;
}

# languages {
  border-width: medium;
  background-color: blue;
}

float.img {
  border-spacing: 2px;
  border-color: black;
  float: right;
}

.container {
  padding: 50px;
  border: #rgb(0, 100, 100);
  background-color: lightblue;
}

.important {
  color: red;
}

.float {
  width: 200px;
  border-width: 3px;
  border-color: yellow;
  float; right;
}

img.mypic {
  float: right;
}
