h1 {
  text-align: center;
  color: green;
}

#languages {
  border-width: medium;
  background-color: blue;
  float: right;
}
/*
float.img {
  border-spacing: 2px;
  border-color: black;
} */

.container {
  padding: 50px;
  border: #rgb(0, 100, 100);
  background-color: lightblue;
  }

.important {
  color: red;
}

.float {
  width: 200px;
  border-width: 3px;
  border-color: yellow;
  float; right;
}

img.mypic {
  float: left;
}

.sidebar {
  width: 50%;
  float: left;
  color: pink;
  text-align: left;
}

languages.sidebar {

}

h6 {
  color: indigo;
}

.iconicme {

}

#my-work {
  text-align: left;
  padding: 50px;
}
